<form method="POST" action="/signup">
    <input type="text" name="username" placeholder="username">
     <input type="text" name="firstname" placeholder="firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="sign up">
</form>